*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    color:white;
}
.nav_bar{
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    color: white;
    
}
.open_mobile_menu, .close_mobile_menu{
    cursor: pointer;
}
.mobile_nav{
    display: block;
    overflow: hidden;

    height: 100vh;
    transition: 300ms;
}
.mobile_nav li{
    list-style-type: none;
    margin: 2em;
    border-bottom: 1px solid white;
    padding-bottom: 1em;

}
.mobile_nav a{
    color: white;
    text-decoration: none;
}
.toggle_menu{
    height: 0;
    transition: 300ms;

}

.menu_links{
    display: none;
}
.social_links{
    margin: 2em 2em 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.social_links i{
    color: white;
    transition: 300ms;
}
.social_links i:hover{
    color: rgb(191, 57, 0);
    transition: 300ms;
}

.hero_section{
    background-color: black;
    color: white;
    padding:5em 2em;
}
.hero_section--heading{
    text-align: center;
    font-size: 3rem;
}
.hero_section--video{
  margin: 5em 0;
  width: 100%;
}
.hero_video{
    max-width: 100%;
    border-radius:20px;

 
}
.d_none{
   display: none;

}

.card_container{
   
    margin: 1em auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1em;

}
.card{
    background-color: red;
    border-radius: 20px;
    transition: 300ms;
}
.card:hover{
     transform: scale(1.025);
     transition: 300ms;
}
.link_container{
    margin: 5em 0;
    text-align: center;

}
.projects_btn{
    background-color: rgb(210, 66, 4);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 1em 2em;
    transition: color 200ms;

}
.projects_btn:hover{
    background-color: white;
    border-radius: 2px solid rgb(214, 65, 1);
    color:rgb(191, 57, 0) ;
    transition: 200ms;
}
.services_list{
    margin: 2em;
    display: flex;
    align-items: center;
    gap:1em;
    
}
.service_list--item{
    width: 270px;
    height: 500px;
    border-radius: 20px;
    background-color: red;
    
}

@media (min-width:900px) {
    .nav_bar{
        margin: 0 2em;
    }
    .open_mobile_menu, .close_mobile_menu{
        display: none;
    }
    .mobile_nav{
        display: none;
    }
    .menu_links{
        display: block;

    }
    .menu_links a{
        color: white;
        margin-left: 1em;
        text-decoration: none;
        transition: color 200ms;
    }
    .menu_links a:hover{
        color: rgb(191, 57, 0);
        transition: 200ms;
    }
    .hero_section--heading{
        font-size: 3rem;
    }
    .card_container{
        grid-template-columns: 32.7% 32.7% 32.7%;
        grid-template-rows: 200px 200px;
        
    
    }
    
}

.footer{
    background-color: gray;
    padding: 2em;
}